##Run Classifier

In [1]:
% matplotlib qt

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
import exec.model_framework.model as mdl
from utils.utilgen import viewdf

% reload_ext autoreload
% autoreload 2

###Data

In [2]:
dataPath = 'data\\data_derived\\train1c.csv'
data = pd.read_csv(dataPath)
dataTPath = 'data\\data_derived\\train2c.csv'
dataT = pd.read_csv(dataTPath)
display(data.sample(n=5))
display(dataT.sample(n=5))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>Fare</th>
      <th>EmbarkedC</th>
      <th>EmbarkedS</th>
      <th>Female</th>
      <th>SibSpYes</th>
      <th>ParchYes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>312</th>
      <td>0</td>
      <td>2</td>
      <td>60.000000</td>
      <td>39.0000</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>604</th>
      <td>0</td>
      <td>3</td>
      <td>31.000000</td>
      <td>7.7500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>87</th>
      <td>1</td>
      <td>3</td>
      <td>29.812625</td>
      <td>7.8792</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>107</th>
      <td>0</td>
      <td>3</td>
      <td>28.000000</td>
      <td>14.4000</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>542</th>
      <td>1</td>
      <td>1</td>
      <td>37.000000</td>
      <td>52.5542</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>Fare</th>
      <th>EmbarkedC</th>
      <th>EmbarkedS</th>
      <th>Female</th>
      <th>SibSpYes</th>
      <th>ParchYes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>229</th>
      <td>1</td>
      <td>2</td>
      <td>42.000000</td>
      <td>13.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>199</th>
      <td>0</td>
      <td>3</td>
      <td>29.435674</td>
      <td>14.5</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>127</th>
      <td>1</td>
      <td>2</td>
      <td>0.670000</td>
      <td>14.5</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72</th>
      <td>1</td>
      <td>2</td>
      <td>24.000000</td>
      <td>13.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1</td>
      <td>2</td>
      <td>2.000000</td>
      <td>26.0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

###Logistic

In [4]:
modelLR = mdl.Logistic(fit_intercept=False, scale=True, C=10)
modelLR.fit(data)
modelLR.predict(dataT)
modelLR.printSummary()
modelLR.plotROC()

****** LOGISTIC ******

-----Train and Test Sets-----
Sample Size (Train / Test): 623 / 268
Survived Rate (Train / Test): 0.37 / 0.41

-----Coefficients-----
Pclass      -0.79
Age         -0.42
Fare         0.06
EmbarkedC    0.00
EmbarkedS   -0.10
Female       1.29
SibSpYes    -0.02
ParchYes    -0.02
dtype: float64

-----Performance-----
accuracy	 (IS / CV / OOS): 0.78 / 0.78 / 0.79
accproba	 (IS / CV / OOS): 0.68 / 0.68 / 0.69
logproba	 (IS / CV / OOS): -0.49 / -0.50 / -0.49
aucproba	 (IS / CV / OOS): 0.85 / 0.85 / 0.85
recall	 (IS / CV / OOS): 0.79 / 0.78 / 0.81
precision	 (IS / CV / OOS): 0.68 / 0.67 / 0.72

-----Confusion (IS)-----
   0-pred  1-pred
0    0.49    0.14
1    0.08    0.29
-----Confusion (OOS)-----
   0-pred  1-pred
0    0.46    0.13
1    0.08    0.33

###Logistic Ridge

In [5]:
modelLRRidge = mdl.LogisticRidge(fit_intercept=False, scale=True, Cs=np.exp(np.arange(-5,6,1)))
modelLRRidge.fit(data)
modelLRRidge.predict(dataT)
modelLRRidge.printSummary()
modelLRRidge.plotROC()

****** LOGISTIC RIDGE ******

-----Train and Test Sets-----
Sample Size (Train / Test): 623 / 268
Survived Rate (Train / Test): 0.37 / 0.41

-----Coefficients-----
Pclass      -0.74
Age         -0.39
Fare         0.08
EmbarkedC    0.01
EmbarkedS   -0.09
Female       1.24
SibSpYes    -0.02
ParchYes    -0.01
dtype: float64

-----Ridge CV multiplier-----
Ridge Multiplier = 0.37

-----Performance-----
accuracy	 (IS / CV / OOS): 0.78 / 0.78 / 0.79
accproba	 (IS / CV / OOS): 0.68 / 0.68 / 0.68
logproba	 (IS / CV / OOS): -0.49 / -0.50 / -0.49
aucproba	 (IS / CV / OOS): 0.85 / 0.85 / 0.85
recall	 (IS / CV / OOS): 0.79 / 0.78 / 0.81
precision	 (IS / CV / OOS): 0.68 / 0.68 / 0.72

-----Confusion (IS)-----
   0-pred  1-pred
0    0.49    0.14
1    0.08    0.29
-----Confusion (OOS)-----
   0-pred  1-pred
0    0.46    0.13
1    0.08    0.33

###Logistic Best Subset

In [6]:
modelLRBestK = mdl.LogisticBestSubset(fit_intercept=False, scale=True, k=5)
modelLRBestK.fit(data)
modelLRBestK.predict(dataT)
modelLRBestK.printSummary()
modelLRBestK.plotROC()

****** LOGISTIC KBEST ******

-----Train and Test Sets-----
Sample Size (Train / Test): 623 / 268
Survived Rate (Train / Test): 0.37 / 0.41

-----Coefficients-----
Pclass      -0.59
Fare         0.09
EmbarkedC    0.08
Female       1.27
ParchYes     0.07
dtype: float64

-----Performance-----
accuracy	 (IS / CV / OOS): 0.77 / 0.76 / 0.77
accproba	 (IS / CV / OOS): 0.67 / 0.67 / 0.68
logproba	 (IS / CV / OOS): -0.50 / -0.51 / -0.50
aucproba	 (IS / CV / OOS): 0.84 / 0.84 / 0.84
recall	 (IS / CV / OOS): 0.75 / 0.75 / 0.76
precision	 (IS / CV / OOS): 0.67 / 0.66 / 0.70

-----Confusion (IS)-----
   0-pred  1-pred
0    0.49    0.13
1    0.09    0.28
-----Confusion (OOS)-----
   0-pred  1-pred
0    0.46    0.13
1    0.10    0.31

###KNN

In [ ]:
modelKNN = mdl.KNN(scale=True, n_neighbors=10, weights='uniform')
modelKNN.fit(data)
modelKNN.predict(dataT)
modelKNN.printSummary()
modelKNN.plotROC()

****** KNN ******

-----Train and Test Sets-----
Sample Size (Train / Test): 623 / 268
Survived Rate (Train / Test): 0.37 / 0.41

-----Performance-----
accuracy	 (IS / CV / OOS): 0.82 / 0.79 / 0.80
accproba	 (IS / CV / OOS): 0.75 / 0.71 / 0.73
logproba	 (IS / CV / OOS): -0.38 / -1.08 / -1.40
aucproba	 (IS / CV / OOS): 0.89 / 0.84 / 0.85
recall	 (IS / CV / OOS): 0.65 / 0.64 / 0.71
precision	 (IS / CV / OOS): 0.84 / 0.78 / 0.79

-----Confusion (IS)-----
   0-pred  1-pred
0    0.58    0.05
1    0.13    0.24
-----Confusion (OOS)-----
   0-pred  1-pred
0    0.51    0.08
1    0.12    0.29

###Decision Trees

In [35]:
modelTree = mdl.Tree(scale=True, max_depth=3, class_weight='balanced', random_state=1)
modelTree.fit(data)
modelTree.predict(dataT)
modelTree.printSummary()
modelTree.plotROC()
modelTree.visualizeTree()

****** DECISION TREE ******

-----Train and Test Sets-----
Sample Size (Train / Test): 623 / 268
Survived Rate (Train / Test): 0.37 / 0.41

-----Performance-----
accuracy	 (IS / CV / OOS): 0.82 / 0.77 / 0.83
accproba	 (IS / CV / OOS): 0.72 / 0.70 / 0.73
logproba	 (IS / CV / OOS): -0.43 / -0.62 / -0.54
aucproba	 (IS / CV / OOS): 0.87 / 0.85 / 0.86
recall	 (IS / CV / OOS): 0.70 / 0.74 / 0.74
precision	 (IS / CV / OOS): 0.80 / 0.70 / 0.82

-----Confusion (IS)-----
   0-pred  1-pred
0    0.56    0.07
1    0.11    0.26
-----Confusion (OOS)-----
   0-pred  1-pred
0    0.53    0.07
1    0.10    0.30